{% extends "ForumTemplate.html.twig" %}

{% block title %}{{ params.category_name }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <h1>{{ params.category_name }}</h1>

    {% if params.username %}
        <a href="/post_thread?cat={{ params.category_id }}" class="btn btn-primary">Post thread</a><br>
    {% endif %}
    <br>
    {% for value in params.threads %}
        <div class="row">
            <div class="col-lg-11">
                <div class="card">

                    <div class="card-title">
                        <a href="/thread/{{ value.id }}">{{ value.subject }}</a>
                    </div>

                    <div class="card-subtitle mb-2 text-muted">
                        created by {{ value.name }} on {{ value.created }}
                    </div>


                </div>
            </div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}