{% extends "ForumTemplate.html.twig" %}

{% block title %}{{ params.category_name }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <h1>{{ params.category_name }}</h1>

    {% if params.username %}
        <a href="/post_thread?cat={{ params.category_id }}" class="btn btn-primary">Post thread</a><br>
    {% endif %}
    <br>
    {% for value in params.threads %}
        <div class="row">
            <div class="col ">
                <a href="/thread/{{ value.id }}">{{ value.subject }}</a>
            </div>
            <div class="col">
                {{ value.name }}
            </div>
            <div class="col">
                {{ value.created }}
            </div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}