{% extends "ForumTemplate.html.twig" %}

{% block title %}{{ params.subject }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>{{ params.subject }}</h1>
    <hr>
    {% set thread_check='true' %}
    {% set id=0 %}

    {% for value in params.posts %}
        <div class="row" id="{{ value.id }}">

            <div class="col-lg-10">
                <div class="card ">
                    <div class="card-body">
                        <div class="card-header">

                            <strong id="name{{ id }}">
                                <a href="/user_page/{{ value.user_account_id }}">
                                    {{ value.name }}
                                </a>
                            </strong>
                            <span class="text-muted"> posted on {{ value.created }}:</span>

                        </div>
                        <div class="card-text" id="content{{ id }}">
                            <p style="white-space: pre-line;">
                                {{ value.content }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% if logged=="true" %}
                <!--<a href="/reply?id={{ value.id }}&thread_id={{ params.thread_id }}" class="btn btn-primary"
                   style="height: 40px">Reply</a>
                -->
                <div class="col-lg-2">
                    <div class="btn-group-vertical" style="width: 140px">

                        {% if params.uid==value.user_account_id  or params.username=="admin" %}


                            {% if thread_check=='true' %}
                                <a href="/thread/delete_thread?thread_id={{ params.thread_id }}"
                                   class="btn btn-danger btn-sm">Delete thread</a>
                                {% set thread_check='false' %}
                            {% else %}
                                <a href="/thread/delete_post?id={{ value.id }}&thread_id={{ params.thread_id }}"
                                   class="btn btn-danger btn-sm"
                                >Delete post</a>
                            {% endif %}
                        {% endif %}

                        <a href="/thread/report_post?id={{ value.id }}&thread_id={{ params.thread_id }}"
                           class="btn btn-primary btn-sm"
                        >Report post</a>

                        <input id="button{{ id }}" type="button" onclick="replyClicked({{ id }});" value="Reply"
                               class="btn btn-primary btn-sm">
                    </div>

                    {% set pozitive_button='btn btn-primary btn-sm' %}
                    {% set negative_button='btn btn-primary btn-sm' %}

                    {% if value.score_user == -1 %}
                        {% set negative_button='btn btn-danger btn-sm' %}
                    {% elseif  value.score_user == 1 %}
                        {% set pozitive_button='btn btn-success btn-sm' %}
                    {% endif %}

                    <a href="/thread/vote_post?id={{ value.id }}&thread_id={{ params.thread_id }}&score=-1"
                       class="{{ negative_button }}"
                    >-1</a>
                    {{ value.score }}
                    <a href="/thread/vote_post?id={{ value.id }}&thread_id={{ params.thread_id }}&score=1"
                       class="{{ pozitive_button }}"
                    >+1</a>
                </div>

            {% endif %}
        </div>
        <hr>
        {% set id=id+1 %}
    {% endfor %}

    {% if logged == "true" %}
        <form action="/post_reply?thread_id={{ params.thread_id }}" method="POST" id="post" class="form-group">
            <textarea id="formText" form="post" name="content" rows="5"
                      class="form-control"></textarea>
            <br>
            <input type="submit" class="btn btn-primary">
        </form>
    {% endif %}

    <script type="text/javascript">
        function replyClicked(id) {
            let replyContent = document.getElementById("content" + id);
            let textArea = document.getElementById('formText');
            let username = document.getElementById("name" + id);

            let textReply = "reply to what " + username.textContent.replace(/[\n\r]+|[\s]{2,}/g, ' ').trim() + " said:";

            textArea.textContent += textReply;
            textArea.textContent += replyContent.textContent;
            textArea.textContent += "___________";

            let scrollingElement = (document.scrollingElement || document.body);
            scrollingElement.scrollTop = scrollingElement.scrollHeight;
        }
    </script>
{% endblock %}

