{% extends "ForumTemplate.html.twig" %}

{% block title %}{{ params.subject }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}



{% block content %}


    <h1>{{ params.subject }}</h1>
    <hr>
    {% set thread_check='true' %}
    {% set id=0 %}
    {% for value in params.posts %}
        <div class="row">

            <div class="col-lg-10">
                <div class="card ">
                    <div class="card-body">
                        <div class="card-title">
                            <strong id="name{{ id }}">{{ value.name }}</strong> <span
                                    class="text-muted"> posted on {{ value.created }}
                                :</span>
                        </div>

                        <div class="card-text" id="content{{ id }}">
                            <p style="white-space: pre-line;">

                                {{ value.content }}
                            </p>

                        </div>

                    </div>
                </div>
            </div>
            {% if logged=="true" %}
                <!--<a href="/reply?id={{ value.id }}&thread_id={{ params.thread_id }}" class="btn btn-primary"
                   style="height: 40px">Reply</a>
                -->
                <div class="col-lg-2">
                    <div class="btn-group-vertical" style="width: 140px">

                    {% if params.uid==value.user_account_id  or params.username=="admin" %}


                        {% if thread_check=='true' %}
                            <a href="/thread/delete_thread?thread_id={{ params.thread_id }}"
                               class="btn btn-danger"
                               style="height: 40px">Delete thread</a>
                            {% set thread_check='false' %}
                        {% else %}
                            <a href="/thread/delete_post?id={{ value.id }}&thread_id={{ params.thread_id }}"
                               class="btn btn-danger"
                               style="height: 40px">Delete post</a>
                        {% endif %}

                    {% endif %}
                    <input id="button{{ id }}" type="button" onclick="replyClicked({{ id }});" value="Reply"
                           class="btn btn-primary" style="height: 40px">
                    </div>
                </div>

            {% endif %}
        </div>
        <hr>
        {% set id=id+1 %}
    {% endfor %}

    {% if logged == "true" %}
        <form action="/post_reply?thread_id={{ params.thread_id }}" method="POST" id="post" class="form-group">
            <textarea id="formText" form="post" name="content" rows="5"
                      class="form-control"></textarea>
            <br>
            <input type="submit" class="btn btn-primary">
        </form>
    {% endif %}


    <script type="text/javascript">
        function replyClicked(id) {
            let replyContent = document.getElementById("content" + id);
            let textArea = document.getElementById('formText');
            let username = document.getElementById("name" + id);

            textArea.textContent += "reply to what " + username.textContent + " said:";
            textArea.textContent += replyContent.textContent;
            textArea.textContent += "___________";
        }
    </script>

{% endblock %}

