{% extends "ForumTemplate.html.twig" %}

{% block title %}Userpage{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <h2>User: {{ params.username_page }} info</h2>
    <h3>Threads created:</h3>
    {% for value in params.threads %}
        <div class="row">
            <div class="col-lg-11">
                <div class="card ">
                    <div class="card-body">
                        <div class="card-header">
                            <a href=/thread/{{ value.id }} >{{ value.subject }}</a>
                        </div>
                        <div class="card-text mb-2 text-muted">
                            Posted on:{{ value.created }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <hr>
    {% endfor %}

    {% if params.username=='admin' %}
        <h3>Reported posts</h3>
        {% for value in params.posts %}
            <div class="row">
                <div class="col-lg-11">
                    <div class="card ">
                        <div class="card-body">
                            <div class="card-header">
                                <a href=/thread/{{ value.thread_id }}#{{ value.id }} >{{ value.content }}</a>
                            </div>
                            <div class="card-text mb-2 text-muted">
                                Posted on:{{ value.created }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% endif %}

{% endblock %}