{% extends "ForumTemplate.html.twig" %}

{% block title %}Userpage{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

<h1>User: {{ params.username }} info</h1>
<h2>Threads created</h2>
    {% for value in params.threads %}
        <div class="row">
            <div class="col ">
                 <a href=/thread/{{ value.id }} >{{ value.subject }}</a>
            </div>
            <div class="col">
                {{ value.created }}
            </div>
        </div>
    {% endfor %}

{% endblock %}